$color-black: #000;
$color-white: #fff;
$color-grey: rgb(185, 185, 185);
$color-darkblue: #3b86ff;
$color-ltblue:#70a7ff;
$color-red: #ff0040;
$color-pink: #f36eff;
$color-transparent: rgba(0, 0, 0, 0);

@font-face {
    src: url("../fonts/VarelaRound-Regular.ttf");
    font-family: "VarelaRound";
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'VarelaRound';
    border-radius: 5px;
    color: $color-white;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

#main {
    min-height: 100vh;
    background-color: $color-ltblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
}

#container {
    width: 400px;
    background-color: $color-darkblue;
    padding: 10px;
}

#firstStep {
    position: relative;
    form {
        text-align: center;
        margin-bottom: 15px;
    }
}

input[type=text] {
    border: none;
    padding: 5px;
    outline: none;
    color: $color-black;
}

input[type=button], button {
    border: none;
    background-color: $color-ltblue;
    padding: 5px 10px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
}

#namesList {
    min-height: 100px;
    .btnRemove {
        color: $color-red;
        background-color: $color-transparent;
    }
}

li {
    background-color: $color-ltblue;
    padding: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pinki {
    background-color: $color-pink;
}

#submitButton {
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    outline: none;
}

#numberOfNames {
    position: absolute;
    bottom: 0;
    right: 5px;
}

#secondStep {
    display: none;
    ul {
        margin-top: 5px;
    }
}

#btnBack {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: $color-darkblue;
    color: $color-white;
}

#btnNext {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: $color-darkblue;
    color: $color-white;
    display: none;
}

#btnRedo {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: $color-darkblue;
    color: $color-white;
}

@media screen and (max-width: 450px) {
    #container {
        width: 90%;
    }
}